---
layout: handbook-page-toc
title: Enablement Sub-department Direction
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

This page outlines the rolling fiscal year direction of the Enablement sub-department. Current edition is for FY22.

## Where We Are

### Product
#### Maturity 
Refer to the [product maturity dashboard](https://about.gitlab.com/direction/maturity/#enablement).

#### Metrics

The [performance indicators](/handbook/product/enablement-section-performance-indicators/) describe metrics of the Enablement product section, supplemented by a few other metrics below.

Active Services: [Sisense](https://app.periscopedata.com/app/gitlab/577690/Project-Service-Usage-Dashboard?widget=8583297&udv=0)
<embed width="100%" height="400px" src="<%= signed_periscope_url(chart: 8583297, dashboard: 577690, embed: 'v2') %>">

Active Instances (self managed): [Sisense](https://app.periscopedata.com/app/gitlab/441909/Active-Instances?widget=5709313&udv=0)
<embed width="100%" height="400px" src="<%= signed_periscope_url(chart: 5709313, dashboard: 441909, embed: 'v2') %>">

Installations With Geo Nodes: [Sisense](https://app.periscopedata.com/app/gitlab/500159/Geo?widget=6471869&udv=0)
<embed width="100%" height="400px" src="<%= signed_periscope_url(chart: 6471869, dashboard: 500159, embed: 'v2') %>">

Advanced Search GMAU: [Sisense](https://app.periscopedata.com/app/gitlab/758607/Centralized-SMAU-GMAU-Dashboard?widget=10039216)
<embed width="100%" height="400px" src="<%= signed_periscope_url(chart: 10039216, dashboard: 758607, embed: 'v2') %>">

Monthly MR Rate: [Sisense](https://app.periscopedata.com/app/gitlab/576886/New-Enablement-Section-Overview-Dashboard?widget=10282856&udv=0). Goal of Narrow MR Rate - 8 MRs/person/month
<embed width="100%" height="400px" src="<%= signed_periscope_url(chart: 10282856, dashboard: 576886, embed: 'v2') %>">

MR Review To Merge Time: [Sisense](https://app.periscopedata.com/app/gitlab/576886/New-Enablement-Section-Overview-Dashboard?widget=10305092&udv=0). Goal of Review To Merge Time - 4 days
<embed width="100%" height="400px" src="<%= signed_periscope_url(chart: 10305092, dashboard: 576886, embed: 'v2') %>">

### Great Team
The Enablement sub-department consists of 31 people at present, where each group hosts unique domain expertise in the engineering division.

Some statistics of the team:
* Women engineers: 2
* Distinguished and Staff Engineers: 7 (27%)
* Maintainers:
   * About 73% of our engineers are senior and above, while 50% of our engineers are maintainers of some kind. 
   * Backend: 6
   * Database: 3
   * Distribution: 4
   * Frontend: 0
* Maintainer Trainees:
   * Backend: 4
   * Database: 1
   * Frontend: 1
   * Distribution: 1
* Subject Domains:
   * Deploy and configure GitLab via both VM (Omnibus) and Cloud Native (Helm Chart, OpenShift) methods
   * Disaster recovery, backup/restore, replication
   * Advanced Search based on Elasticsearch
   * PostgreSQL Database
   * Performance tuning and memory optimization

## Where We Want To Be In One Year

### Product
#### Goals 
Refer to the [product direction one year plan](https://about.gitlab.com/direction/enablement/#one-year-plan).

#### Gaps
Below are identified key areas of improvements for the remainder of FY22.
1. Cloud Native deployment needs a leap.
   1. Helm Chart maturity is Viable, with Complete scheduled for FY22 Q1.
   1. OpenShift support development began in FY21-Q3 with an MVP planned in FY22-Q1.
1. Disaster Recovery maturity is Viable but needs to be Complete to win large deals.
1. Backup and restore functionality is only minimally supported.
1. Global search results relevancy, ranking, UX, and performance can be improved.
1. Performance, scalability, and memory footprint.
   1. API endpoint performance bottlenecks and memory footprints.
   1. Performance product analytics of self-managed.
   1. Continued database query performance improvements through impact analysis and targeted improvements.
   1. Reduction in database size and growth rate.
   1. Database index size growth.
   1. Run GitLab on Raspberry Pi smoothly.

### Great Team
#### Goals
1. A Diversity, Inclusion and Belonging environment.
1. All team members are motivated and engaged.
1. Effective iteration with a goal of narrow MR rate = 7~8.
1. High Efficiency with a goal of Review to Merge Time meeting the goal of Development department.
1. Strong servant leadership team.

#### Gaps
1. There are only 2 women engineers on the team and no woman leadership members.
1. Team can benefit from additional maintainers, especially domain expert maintainers.
1. MR rate is below Development average, which means there may be still room to improve iteration.

## How We Will Get There

### Product
Key areas to work on:
1. [Support PG 12](https://gitlab.com/groups/gitlab-org/-/epics/2184).
1. Level up CNG support.
   1. Helm chart: [Complete](https://gitlab.com/groups/gitlab-org/-/epics/2260), [Loveable](https://gitlab.com/gitlab-org/charts/gitlab/issues/1658).
   1. [Support deploying GitLab on OpenShift MVP](https://gitlab.com/groups/gitlab-org/-/epics/3444).
1. Bring [Disaster Recovery to Complete](https://gitlab.com/groups/gitlab-org/-/epics/3574).
1. Advanced search results optimization.
   1. (Tech debt) [Improve and optimize Recall](https://gitlab.com/groups/gitlab-org/-/epics/3203).
   1. (Tech debt) [UX enhancements](https://gitlab.com/groups/gitlab-org/-/epics/1505).
1. More improvements of performance, scalability, and related instrumentation.
   1. (Tech debt) [Address Primary Key overflow risk for tables with an integer PK](https://gitlab.com/groups/gitlab-org/-/epics/4785)
   1. (Tech debt) Control [database index growth](https://gitlab.com/groups/gitlab-org/-/epics/3989).
   1. (Tech debt) [Running GitLab in a memory constrained environment](https://gitlab.com/groups/gitlab-org/-/epics/448).
1. Build developer tools to improve efficiency and increase velocity.
   1. (Tech debt) [Provide developers with access to production-like data](https://gitlab.com/groups/gitlab-org/database-team/-/epics/3).

### Great Team
Key areas to work on with possible actions to consider:
1. Diversity, Inclusion & Belonging.
   1. More focus on DIB in hiring practices.
   1. Encouraging participation in the [Minorities In Tech (MIT)](https://about.gitlab.com/company/culture/inclusion/erg-minorities-in-tech/mentoring/program-structure/) program.
1. Career growth opportunities. Some possible actions to consider:
   1. Online training courses and professional events such as conferences, meetups, etc.
   1. [Apprenticeship program](/handbook/engineering/career-development/#apprenticeships).
   1. Knowledge sharing, e.g. maintaining a list of technical knowledge base that is friendly for async learning.
   1. [Hackathon](https://gitlab.com/gitlab-org/gitlab/-/issues/229965).
1. Leadership.
   1. Continue to foster a DIB environment.
   1. Build leadership reserves at all levels to remove single point of failure and provide career growth opportunities.
   1. Enhance technical leadership and grow more domain experts.
1. Continue to improve Iteration.
   1. Knowledge sharing of tactics for breaking tasks down effectively.
   1. Encouraging team members to attend Iteration Office Hours.
1. Add more maintainers.
   1. Fill the maintainer gaps on team, especially Cloud Native and Frontend maintainers.
   1. Encourage maintainers to become experts across multiple domains.

### Additional Information

Below are the running roadmaps of each group, which is not necessarily constrained by fiscal year:
1. [Global Search roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Aglobal%20search&label_name[]=Roadmap).
1. [Database roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Roadmap&label_name[]=group%3A%3Adatabase).
1. [Distribution roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Adistribution).
1. [Geo roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Ageo).
1. [Memory roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Amemory&label_name[]=Roadmap).
